* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 170px;
  height: 170px;
  border-radius: 5px;
}

p {
  margin-top: 20px;
}
.stack-container {
  position: relative;
  width: 400px;
  height: 300px; 
  margin: 0 auto;
  float: left;
}

.stack-item {
  position: absolute;
  width: 250px; 
  height: 200px; 
  border: 2px solid black;
  background-color: white;
  opacity: 0.8; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transform-origin: top left; 
}

.item1 {
  top: 20px;
  left: 20px;
}
.item2 {
  top: 130px;
  left: 100px;
}
